.main-div {
  height: 100%;
  padding-top: 4rem;
}

#div-actions {
  padding-top: 2rem;
}

#div-image-src {
  //border: 1px solid lightgray;
  height: 20rem;
}

img {
  height: 100%;
  width: 100%;
}
