<div class="container">
  <div class="columns main-div">
    <div class="column col-8 col-mx-auto">

      <div class="text-center">
        <label class="btn btn-primary" for="upload-file">Import image...</label>
        <input type="file" id="upload-file" (change)="importFile($event.target)" hidden>
      </div>

      <div class="columns m-2">
        <div class="column col-6" id="div-image-src">
          <app-loading name="loading-import"></app-loading>
          <img [src]="imageSrc" class="img-fit-cover img-responsive" alt="" *ngIf="imageSrc != undefined">
        </div>
        <div class="column col-6">
          <app-loading name="loading-process"></app-loading>
          <div class="div-image-modified" *ngIf="imageModified != undefined">
            <img [src]="imageModified" class="img-responsive" alt="">
            <i class="icon icon-download text-primary icon-download-position" (click)="downloadImageModified()"></i>
          </div>
        </div>
      </div>


      <div class="columns text-center" id="div-actions" *ngIf="imageSrc != undefined">
        <div class="column col-3">
          <button type="button" class="btn btn-primary" name="button" (click)="getImageInverted()">Inverted</button>
        </div>
        <div class="column col-3">
          <button type="button" class="btn btn-primary" name="button" (click)="getImageBlackAndWhite()">Black and White</button>
        </div>
        <div class="column col-3">
          <button type="button" class="btn btn-primary" name="button" (click)="getImageSepia()">Sepia</button>
        </div>
        <div class="column col-3">
          <button type="button" class="btn btn-primary" name="button" (click)="getImageShake()">Shake</button>
        </div>
      </div>

    </div>
  </div>
</div>
